/*Buttons (Beta/v 0.3) - A free & open-source CSS3 button library for your web projects. */
/* Created By - Ritam Das */

.button{
  color: #666;
  background-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: none;
  padding: 5px 30px;
  text-align:center;
  display: inline-block;
  margin: 0;
  transition: all .4s;
  -webkit-transition: all .4s;
  text-decoration: none;
  cursor: pointer;
}
.button:hover, .button:focus{
  background-color: #f6f6f6;
  text-decoration: none;
  color: #d4d4d4;
}
.button:active, .button.is-active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: #eeeeee;
  border-color: #cfcfcf;
  color: #d4d4d4;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

/*-------------------------------------------------------------------- 3D Buttons Start ----------------------------------------------------------------------*/
.button-3d{
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
.button-3d:hover, .button-3d:focus {
    -webkit-box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
.button-3d:active, .button-3d.active, .button-3d.is-active {
    top: 5px;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-primary{
  -webkit-box-shadow: 0 7px 0 #1b71aa, 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 #1b71aa, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-primary:hover,.button-3d.button-primary:focus{
    -webkit-box-shadow: 0 7px 0 #1b71aa, 0 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 0 #1b71aa, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-primary:active,.button-3d.button-primary.is-active{
    -webkit-box-shadow: 0 2px 0 #1b71aa, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #1b71aa, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-warning{
  -webkit-box-shadow: 0 7px 0 #e29931, 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 #e29931, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-warning:hover,.button-3d.button-warning:focus{
    -webkit-box-shadow: 0 7px 0 #e29931, 0 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 0 #e29931, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-warning:active,.button-3d.button-warning.is-active{
    -webkit-box-shadow: 0 2px 0 #e29931, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #e29931, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-danger{
  -webkit-box-shadow: 0 7px 0 #db3532, 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 #db3532, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-danger:hover,.button-3d.button-danger:focus{
    -webkit-box-shadow: 0 7px 0 #db3532, 0 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 0 #db3532, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-danger:active,.button-3d.button-danger.is-active{
    -webkit-box-shadow: 0 2px 0 #db3532, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #db3532, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-success{
  -webkit-box-shadow: 0 7px 0 #55ad26, 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 #55ad26, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-success:hover,.button-3d.button-success:focus{
    -webkit-box-shadow: 0 7px 0 #55ad26, 0 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 0 #55ad26, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-success:active,.button-3d.button-success.is-active{
    -webkit-box-shadow: 0 2px 0 #55ad26, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #55ad26, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-turquoise{
  -webkit-box-shadow: 0 7px 0 #10997d, 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 #10997d, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-turquoise:hover,.button-3d.button-turquoise:focus{
    -webkit-box-shadow: 0 7px 0 #10997d, 0 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 0 #10997d, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-turquoise:active,.button-3d.button-turquoise.is-active{
    -webkit-box-shadow: 0 2px 0 #10997d, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #10997d, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-wisteria{
  -webkit-box-shadow: 0 7px 0 #64247f, 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 #64247f, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-wisteria:hover,.button-3d.button-wisteria:focus{
    -webkit-box-shadow: 0 7px 0 #64247f, 0 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 0 #64247f, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-wisteria:active,.button-3d.button-wisteria.is-active{
    -webkit-box-shadow: 0 2px 0 #64247f, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #64247f, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-wetasphalt{
  -webkit-box-shadow: 0 7px 0 #1b2c3d, 0 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 #1b2c3d, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-wetasphalt:hover,.button-3d.button-wetasphalt:focus{
    -webkit-box-shadow: 0 7px 0 #1b2c3d, 0 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 0 #1b2c3d, 0 8px 3px rgba(0, 0, 0, 0.3);
}
.button-3d.button-wetasphalt:active,.button-3d.button-wetasphalt.is-active{
    -webkit-box-shadow: 0 2px 0 #1b2c3d, 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 0 #1b2c3d, 0 3px 3px rgba(0, 0, 0, 0.2);
}

/*-------------------------------------------------------------------- 3D Buttons Ends ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- Pulse Buttons Start ----------------------------------------------------------------------*/

.button-pulse{animation: pulse 2s infinite;}
.button-pulse.button-success{animation: pulse-success 2s infinite;}
.button-pulse.button-warning{animation: pulse-warning 2s infinite;}
.button-pulse.button-primary{animation: pulse-primary 2s infinite;}
.button-pulse.button-danger{animation: pulse-danger 2s infinite;}
.button-pulse.button-wisteria{animation: pulse-wisteria 2s infinite;}
.button-pulse.button-turquoise{animation: pulse-turquoise 2s infinite;}
.button-pulse.button-wetasphalt{animation: pulse-wetasphalt 2s infinite;}

.button-pulse:hover, .button-pulse:focus, .button-pulse:active, .button-pulse.is-active{animation: none;}

@-webkit-keyframes pulse{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(242,242,242,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(242,242,242,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(242,242,242,0.0);}
}
@keyframes pulse{
  0%{box-shadow: 0px 0px 0px 0px rgba(242,242,242,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(242,242,242,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(242,242,242,0.0);}
}

@-webkit-keyframes pulse-success{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(152,227,109,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(152,227,109,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(152,227,109,0.0);}
}
@keyframes pulse-success{
  0%{box-shadow: 0px 0px 0px 0px rgba(152,227,109,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(152,227,109,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(152,227,109,0.0);}
} 

@-webkit-keyframes pulse-warning{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(255,200,122,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(255,200,122,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(255,200,122,0.0);}
}
@keyframes pulse-warning{
  0%{box-shadow: 0px 0px 0px 0px rgba(255,200,122,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(255,200,122,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(255,200,122,0.0);}
}

@-webkit-keyframes pulse-primary{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(65,167,235,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(65,167,235,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(65,167,235,0.0);}
}
@keyframes pulse-primary{
  0%{box-shadow: 0px 0px 0px 0px rgba(65,167,235,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(65,167,235,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(65,167,235,0.0);}
}

@-webkit-keyframes pulse-danger{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(255,129,127,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(255,129,127,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(255,129,127,0.0);}
}
@keyframes pulse-danger{
  0%{box-shadow: 0px 0px 0px 0px rgba(255,129,127,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(255,129,127,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(255,129,127,0.0);}
} 

@-webkit-keyframes pulse-wisteria{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(174,104,204,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(174,104,204,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(174,104,204,0.0);}
}
@keyframes pulse-wisteria{
  0%{box-shadow: 0px 0px 0px 0px rgba(174,104,204,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(174,104,204,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(174,104,204,0.0);}
}

@-webkit-keyframes pulse-turquoise{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(41,219,191,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(41,219,191,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(41,219,191,0.0);}
}
@keyframes pulse-turquoise{
  0%{box-shadow: 0px 0px 0px 0px rgba(41,219,191,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(41,219,191,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(41,219,191,0.0);}
}

@-webkit-keyframes pulse-wetasphalt{
  0%{-webkit-box-shadow: 0px 0px 0px 0px rgba(89,116,142,1);}
  70%{-webkit-box-shadow: 0px 0px 0px 10px rgba(89,116,142,0.0);}
  100%{-webkit-box-shadow: 0px 0px 0px 0px rgba(89,116,142,0.0);}
}
@keyframes pulse-wetasphalt{
  0%{box-shadow: 0px 0px 0px 0px rgba(89,116,142,1);}
  70%{box-shadow: 0px 0px 0px 10px rgba(89,116,142,0.0);}
  100%{box-shadow: 0px 0px 0px 0px rgba(89,116,142,0.0);}
} 

/*-------------------------------------------------------------------- Pulse Buttons End ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- Raised Buttons Start ----------------------------------------------------------------------*/
.button-raised:active, .button-raised.is-active{box-shadow:  1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 1px rgba(0, 0, 0, 0.3) !important;}
.button-raised{
  position: relative;
  top: 0;
  color: #555 !important;
  background: rgba(238,238,238,1);
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(226,226,226,1) 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(187,187,187,1);
  box-shadow: 0px 4px 0px 0px rgba(187,187,187,1);
}

.button-raised:hover, .button-raised:focus{
  color: #555;
  background: rgba(226,226,226,1);
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(238,238,238,1) 100%);

}
.button-raised:active, .button-raised.is-active{
  color: #555;
  top: 4px;
  border: none;
  background: rgba(226,226,226,1);
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(238,238,238,1) 100%);
}

.button-raised.button-success{
  background: #cae285;
  background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#a3cd5a));
  background: -moz-linear-gradient(top,  #cae285,  #a3cd5a);
  box-shadow: 0px 4px 0px 0px #799545;
  -webkit-box-shadow: 0px 4px 0px 0px #799545;
}
.button-raised.button-success:hover, .button-raised.button-success:focus{
    background: #a3cd5a;
    background: -webkit-gradient(linear, left top, left bottom, from(#a3cd5a), to(#cae285));
    background: -moz-linear-gradient(top,  #a3cd5a,  #cae285);
}

.button-raised.button-primary{
  background: #abe4f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#74d0f4));
  background: -moz-linear-gradient(top,  #abe4f8,  #74d0f4);
  box-shadow: 0px 4px 0px 0px #589cb6;
  -webkit-box-shadow: 0px 4px 0px 0px #589cb6;
}
.button-raised.button-primary:hover, .button-raised.button-primary:focus{
    background: #74d0f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#74d0f4), to(#abe4f8));
    background: -moz-linear-gradient(top,  #74d0f4,  #abe4f8);
}

.button-raised.button-warning{
  background: #feda71;
  background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febe4d));
  background: -moz-linear-gradient(top,  #feda71,  #febe4d);
  box-shadow: 0px 4px 0px 0px #589cb6;
  -webkit-box-shadow: 0px 4px 0px 0px #b98a37;
}
.button-raised.button-warning:hover, .button-raised.button-warning:focus{
  background: #febe4d;
  background: -webkit-gradient(linear, left top, left bottom, from(#febe4d), to(#feda71));
  background: -moz-linear-gradient(top,  #febe4d,  #feda71);
}

.button-raised.button-danger{
  background: #f56778;
  background: -webkit-gradient(linear, left top, left bottom, from(#f997b0), to(#f56778));
  background: -moz-linear-gradient(top,  #f997b0,  #f56778);
  box-shadow: 0px 4px 0px 0px #cb5462;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 0px 0px #cb5462;
}
.button-raised.button-danger:hover, .button-raised.button-danger:focus{
    background: #f56778;
    background: -webkit-gradient(linear, left top, left bottom, from(#f56778), to(#f997b0));
    background: -moz-linear-gradient(top,  #f56778,  #f997b0);
}

.button-raised.button-wisteria{
  background: #a057bf;
  background: -webkit-gradient(linear, left top, left bottom, from(#b369d3), to(#a057bf));
  background: -moz-linear-gradient(top,  #b369d3,  #a057bf);
  box-shadow: 0px 4px 0px 0px #64247f;
  -webkit-box-shadow: 0px 4px 0px 0px #64247f;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.35);
  color: #fff !important;
}
.button-raised.button-wisteria:hover, .button-raised.button-wisteria:focus{
    background: #a057bf;
    background: -webkit-gradient(linear, left top, left bottom, from(#a057bf), to(#b369d3));
    background: -moz-linear-gradient(top,  #a057bf,  #b369d3);
}

.button-raised.button-turquoise{
  background: #3ad8b9;
  background: -webkit-gradient(linear, left top, left bottom, from(#3ad8b9), to(#1abc9c));
  background: -moz-linear-gradient(top,  #3ad8b9,  #1abc9c);
  box-shadow: 0px 4px 0px 0px #10997d;
  -webkit-box-shadow: 0px 4px 0px 0px #10997d;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  color: #fff !important;
}
.button-raised.button-turquoise:hover, .button-raised.button-turquoise:focus{
    background: #1abc9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#1abc9c), to(#3ad8b9));
    background: -moz-linear-gradient(top,  #1abc9c,  #3ad8b9);
}

.button-raised.button-wetasphalt{
  background: #34495e;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e6882), to(#34495e));
  background: -moz-linear-gradient(top,  #4e6882,  #34495e);
  box-shadow: 0px 4px 0px 0px #1b2c3d;
  -webkit-box-shadow: 0px 4px 0px 0px #1b2c3d;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
  color: #fff !important;
}
.button-raised.button-wetasphalt:hover, .button-raised.button-wetasphalt:focus{
    background: #4e6882;
    background: -webkit-gradient(linear, left top, left bottom, from(#34495e), to(#4e6882));
    background: -moz-linear-gradient(top,  #34495e,  #4e6882);
}
/*-------------------------------------------------------------------- Raides Buttons End ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------- Flat Color Buttons Start ----------------------------------------------------------------------*/
.button-primary{background-color: #3598DB;}
.button-primary:hover, .button-primary:focus{background-color: #63b9f2; color: #fff;}
.button-primary:active, .button-primary.is-active{color: #3598DB;}

.button-warning{background-color: #fcbb5f;}
.button-warning:hover, .button-warning:focus{background-color: #ffc87c; color: #fff;}
.button-warning:active, .button-warning.is-active{color: #eaa94d;}

.button-success{background-color: #6AC53C;}
.button-success:hover, .button-success:focus{background-color:#84d657; color: #fff;}
.button-success:active, .button-success.is-active{color: #5fb72f;}

.button-danger{background-color: #FF524E;}
.button-danger:hover, .button-danger:focus{background-color: #ff7680; color: #fff;}
.button-danger:active, .button-danger.is-active{color: #dd2a27;}

.button-wisteria{background-color: #8e44ad;}
.button-wisteria:hover, .button-wisteria:focus{background-color: #a057bf; color: #fff;}
.button-wisteria:active, .button-wisteria.is-active{color: #7b309b;}

.button-turquoise{background-color: #1abc9c;}
.button-turquoise:hover, .button-turquoise:focus{background-co3ad8b9; color: #fff;}
.button-turquoise:active, .button-turquoise.is-active{color: #1abc9c;}

.button-wetasphalt{background-color: #34495e;}
.button-wetasphalt:hover, .button-turquoise:focus{background-color: #4e6882; color: #fff;}
.button-wetasphalt:active, .button-turquoise.is-active{color: #263849;}

.button-primary, .button-warning, .button-danger, .button-success, .button-wisteria, .button-turquoise, .button-wetasphalt{color: #fff;}



/*-------------------------------------------------------------------- Flat Color Buttons End ----------------------------------------------------------------------*/

.button-xs{line-height: 20px; font-size: 10px; padding: 0px 6px;}
.button-lg{padding: 10px 40px; font-size: 20px;}
.button-xl{padding: 13px 50px; font-size: 24px;}
.button-rounded{border-radius: 5px;}
.button-pill{border-radius: 400px;}
